@media (max-width: 800px) {
  .navigacija {
    display: none;
  }
  .hamburger {
    display: block;
    margin: 10px;
  }
  .product {
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0;
  }
  html {
    height: 100vh;
  }

  .prev {
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3%;
  }
  .next {
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3%;
  }
  header {
    max-width: 700px;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .photos {
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    display: block;
    box-sizing: border-box;
  }

  .photoN {
    width: 100%;
    height: 80%;
  }
  .photoN img {
    width: 100%;
    height: 80%;
    border-radius: 0%;
  }
  .card {
    height: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
    padding: 0;
  }
  .photoNav {
    display: none;
  }
  .headerRight {
    width: 80px;
    font-size: 10px;
  }
  .text {
    padding: 20px;
  }

  .oldPrice {
    display: inline-block;
  }
  .cijene {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .sveCijene {
    display: flex;
    justify-content: space-between;
  }
  .price {
    margin: 0;
  }

  .inline {
    width: 80%;
  }
  .inLine {
    display: block;
  }
  .counter {
    width: 100%;
    margin-bottom: 20px;
  }

  .add {
    margin-left: 0;
    width: 100%;
  }
  .logo {
    margin-left: 6px;
  }
}

@media (max-width: 800px) {
  .navigacija {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .product {
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0;
  }
  html {
    height: 100%;
  }
  .page {
    display: flex;
  }
  header {
    max-width: 700px;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 100px;
  }
  .photos {
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    display: block;
    box-sizing: border-box;
  }

  /* .photoN {
    width: 50%;
    height: 50%;
  } */
  .photoN img {
    width: 100%;
    height: 80%;
    border-radius: 0%;
  }
  .card {
    height: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
    padding: 0;
  }
  .photoNav {
    display: none;
  }

  .text {
    padding: 20px;
  }

  .oldPrice {
    display: inline-block;
  }
  .cijene {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .sveCijene {
    display: flex;
    justify-content: space-between;
  }
  .price {
    margin: 0;
  }

  .inline {
    width: 80%;
  }
  .inLine {
    display: block;
  }
  .counter {
    width: 100%;
    margin-bottom: 20px;
  }

  .add {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .navigacija {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .product {
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0;
  }
  html {
    height: 100%;
  }
  .logo {
    margin-left: 6px;
  }
  header {
    max-width: 700px;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .photos {
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    display: block;
    box-sizing: border-box;
  }

  .photoN {
    width: 100%;
    height: 80%;
  }
  .photoN img {
    width: 100%;
    height: 80%;
    border-radius: 0%;
  }
  .card {
    height: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
    padding: 0;
  }
  .photoNav {
    display: none;
  }

  .text {
    padding: 20px;
  }

  .oldPrice {
    display: inline-block;
  }
  .cijene {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .sveCijene {
    display: flex;
    justify-content: space-between;
  }
  .price {
    margin: 0;
  }

  .inline {
    width: 80%;
  }
  .inLine {
    display: block;
  }
  .counter {
    width: 100%;
    margin-bottom: 20px;
  }

  .add {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .navigacija {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .product {
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0;
  }
  html {
    height: 100vh;
  }

  .prev {
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3%;
  }
  .next {
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3%;
  }

  header {
    max-width: 700px;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .photos {
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    display: block;
    box-sizing: border-box;
  }

  .photoN {
    width: 100%;
    height: 80%;
  }
  .photoN img {
    width: 100%;
    height: 80%;
    border-radius: 0%;
  }
  .card {
    height: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
    padding: 0;
  }
  .photoNav {
    display: none;
  }

  .text {
    padding: 20px;
  }

  .oldPrice {
    display: inline-block;
  }
  .cijene {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .sveCijene {
    display: flex;
    justify-content: space-between;
  }
  .price {
    margin: 0;
  }

  .inline {
    width: 80%;
  }
  .inLine {
    display: block;
  }
  .counter {
    width: 100%;
    margin-bottom: 20px;
  }

  .add {
    margin-left: 0;
    width: 100%;
  }

  .headerLeft {
    width: 170px;
    height: 35px;
  }
  .hamburger {
    margin: auto;
  }
  .headerRight {
    width: 75px;
    font-size: 10px;
  }
}
