* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: rubik;
  height: 1000px;
}
.page {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url(orange.jpg);
}

.card {
  width: 1000px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 10px 8px #2e2e2e;
  margin: auto auto auto auto;
}

.header {
  width: 800px;
  height: 80px;
  border-bottom: 4px solid rgba(246, 233, 181, 0.498);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

nav ul li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin-left: 12px;
}

nav ul li a {
  text-decoration: none;
  color: #888888;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  height: auto;
}

nav ul li:first-child {
  margin-left: 30px;
}

.product {
  display: grid;
  grid-template-columns: 350px 450px;
  gap: 20px;
  margin-top: 60px;
  margin-left: 150px;
}

.product img {
  border-radius: 10px;
}

.size {
  width: 52px;
  height: 52px;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.photoNav {
  gap: 20px;
  display: flex;
}

.photoNav img:first-child {
  opacity: 0.4;
}

.border {
  width: 54px;
  height: 54px;
  border: solid 2px rgb(250, 97, 41);
  border-radius: 12px;
}

.comp {
  color: rgb(250, 97, 41);
  font-size: 12px;
  letter-spacing: 2px;
}

.text {
  grid-column: 2 / span 1;
  padding-top: 20px;
}

.grey {
  margin-top: 15px;
  color: gray !important;
  padding-right: 28px;
  line-height: 25px;
}

.price {
  margin-top: 20px;
}

.discount {
  width: 40px;
  height: 20px;
  margin-left: 15px;
  color: rgb(250, 97, 41);
  background-color: rgba(246, 233, 181, 0.498);
  text-align: center;
  display: inline-block;
}

.price {
  font-size: 24px;
  display: inline-block;
}

.oldPrice {
  color: gray !important;
  text-decoration: line-through;
  margin-top: 8px;
}

.counter {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 40px;
  background-color: rgba(246, 233, 181, 0.498);
  padding: 8px;
  align-items: center;
  color: rgb(250, 97, 41);
  font-weight: 500;
  margin-top: 15px;
  border-radius: 5px;
}

.nula {
  color: black;
}

.add {
  display: inline-block;
  height: 40px;
  margin-left: 20px;
  width: 180px;
  background-color: rgb(250, 97, 41);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}

.inLine {
  display: inline-block;
}

.add:hover {
  font-size: 16px;
}

.photoN {
  position: relative;
}

.prev {
  position: absolute;
  top: 45%;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3%;
  display: none;
}

.next {
  position: absolute;
  top: 45%;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 3%;
  display: none;
}

.prilog {
  width: 35px;
  height: 5px;
  background-color: rgb(68, 65, 65);
  margin: 6px 0;
}

.hamburger {
  display: none;
  margin-right: 20px;
  margin-left: 20px;
}

.counterQ {
  display: none;
}
